.header {
    width: 100%;
    height: 70px;
    background-color: yellow;
}
.header__container {
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__img {
    width: 100px;
}
.logo__current-pokemon {
    width: 50px;
}
.menu__container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu__item img {
    width: 25px;
    cursor: pointer;
}
.menu__item img:hover {
    transform: scale(1.2);
}
